body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #70c5ce;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#ad-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.ad-container {
    margin-bottom: 20px;
}

#game-container {
    position: relative;
    width: 320px;
    height: 580px; /* Adjust height as needed */
}

#score-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
}

#score, #highscore {
    font-size: 18px;
    color: #000;
}

#gameCanvas {
    display: block;
    background-color: #fff;
    border: 2px solid #000;
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 100px); /* Adjust height to fit within the container */
}
