body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #70c5ce;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#left-sidebar, #right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#ad-sidebar, .ad-container {
    margin-bottom: 20px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-ad, #bottom-ad {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#game-container {
    position: relative;
    width: 320px;
    height: 580px; /* Adjust height as needed */
    margin: 0 10px;
}

#score-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    width: 100%;
}

#score, #highscore {
    font-size: 18px;
    color: #000;
}

#gameCanvas {
    display: block;
    background-color: #fff;
    border: 2px solid #000;
    width: 100%;
    height: calc(100% - 100px); /* Adjust height to fit within the container */
}

#main-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#play-button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#league-display {
    margin-top: 10px;
    font-size: 18px;
    color: #000;
}
